[submodule "GitSubmodules/UnityAutoSaveToGit"]
	path = GitSubmodules/UnityAutoSaveToGit
	url = https://github.com/Mathias-Hedelund-Larsen/UnityAutoSaveToGit.git
[submodule "GitSubmodules/ReadOnly"]
	path = GitSubmodules/ReadOnly
	url = https://github.com/Mathias-Hedelund-Larsen/ReadOnly.git
